<!DOCTYPE html>
<html>
  <head>
    <title>Asdasd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% 30.times do |i| %>
      <%= render "components/template_0", locals: { } %>
    <% end %>
    <%= yield %>
  </body>
</html>

Append 2
Append 4
Append 1
Append 0
Append 3
Append 2
Append 4
Append 0
Append 1
Append 3
Append 2
Append 0
Append 4
Append 1
Append 3
Append 3
Append 0
Append 4
Append 1
Append 2
Append 0
Append 4
Append 3
Append 2
Append 1
Append 4
Append 0
Append 3
Append 2
Append 1
Append 4
Append 3
Append 0
Append 2
Append 1
Append 4
Append 3
Append 2
Append 0
Append 1
Append 4
Append 3
Append 2
Append 4
Append 0
Append 1
Append 3
Append 2
Append 0
Append 1